<!DOCTYPE html>
<html lang="en">
<head>
	<title>Simple Controller</title>
	<script type="text/javascript" src="lib/angular-1.6.6/angular.js"></script>
	<script type="text/javascript" src="app/CalcService.js"></script>
	<script type="text/javascript" src="app/CalcController.js"></script>
</head>
<body>
	<div ng-app="calculator" ng-controller="CalcController as calc">
		<b>Simple Calculator:</b>
		<div>
			Enter the first number: <input type="number" ng-model="calc.num1">
		</div>
		<div>
			Enter the second number: <input type="number" ng-model="calc.num2">			
		</div>
		<div>
			Sum is: {{ calc.add() }}
		</div>
		<div>
			Difference is: {{ calc.subtract() }}
		</div>
	</div>
</body>
</html>
